:root{
    --cor-vermelha:#E50914;
    --cor-preta:#141414;
    --fonte-titulo: 'Arial Black';
    --fonte-padrao:'Times New Roman', times, serif;
    --cor-de-fonte:#AAA;



}



body{
    background-color: var(--cor-preta);
    font-family: var(--fonte-padrao);
}


/* CABECALHO*/

.logo{
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--cor-vermelha);
    margin: 10px;
    
}

.containerHeader>nav>ul>li>a{
    color: var(--cor-de-fonte);
    font-size: 1.2rem;
}
.containerHeader{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}   
.containerHeader>nav>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;   
    align-content: center;
    width: 100%;
    max-width:400px;

} 
.containerHeader>nav>ul>li{
    display: flex;
    margin:10px 10px;

} 
.containerHeader>nav>ul>li>a:hover{
    color:#fff;   

} 

/* FILME PRINCIPAL*/

.filme-principal{
    font-size: 1rem;
    color: var(--cor-de-fonte); 

    background-image: linear-gradient( rgba(0,0,0,0.10),rgba(0,0,0,0.80) 100%), url(/img/card-principal.jpeg) ;
    background-size: 100% 120%;
    height: 600px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.container-principal{
    width: 100%;
    max-width: 600px;
    margin-bottom: 50px;
    color: #fff;
    margin: 10px 10px;


}
.titulo-principal{
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;


}

.botoes-principais{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
    

}

.botao{
    width: 100%;
    max-width: 450px;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 15px 15px;
    color: #fff;
    height: 50px;     
    border:none;
    background-color: rgba(0,0,0,.50);    
    font-weight: bold;
    transition: 0.3s ease all;
    
    

}
.botao:hover{
    cursor: pointer;
    box-shadow:  0px 0px 10px #fff;
}

.botao>i{
    margin: 10px;
}

.info-sugestoes{
    text-align: center;
    font-size: 1.5rem;
    height: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    

}

.item:hover{
    cursor: pointer;
    border: 1px solid #fff;


}


@media screen and (max-width:768px){
    .containerHeader{
        display: flex;
        flex-direction: column;

    }

    .filme-principal{
        background-size: 100% 100%;
        height: 400px;
    }
    .container-principal{
               
        margin-bottom: 50px;
        margin: 10px 10px;
        flex-wrap: wrap;
        display: flex;
        max-width: 350px;
        
        
    
    
    }
    .paragrafo-principal{

        display: flex;
        flex-wrap: wrap;
        height: 150px;
        
    }
    .botoes-principais {
        width: 100%;
        max-width: 768px;
        text-align: center;
    }
    
}